{{#> plantilla}}
    <div class="calendario">
        {{#each circuito }}
            <div class="calendario-carrera">
                <img class="paises circlepaises" src={{bandera}}>
                {{#if isActive}}
                    <a href="/carrera/{{id}}">Ver Carrera</a>
                {{else}}
                    <span>Carrera Finalizada</span>
                {{/if}}
                <p>{{fecha}}</p>
                <div>{{nombre}}</div>
            </div>
        {{/each}}
    </div>
{{/plantilla}}